* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.macaroni-recipe-container {
    line-height: 20px;
    width: 500px;
    margin: 30px 0 10px 50px;
}

.macaroni-recipe-container .home {
    text-decoration: none;
    background-color: orangered;
    color: white;
    padding: 10px;
    display: inline-block;
    font-weight: 600;
    border-radius: 6px;

}

.macaroni-recipe-container h1, img, p, ul, h3, .home {
    margin-bottom: 15px;
}

.macaroni-recipe-container ul li::marker {
    color: orangered;
}

.macaroni-recipe-container ul li {
    list-style: square;
}

.macaroni-recipe-container ol li {
    margin-bottom: 10px;
}

.macaroni-recipe-container ol li::marker {
    color: orangered;
}

/* end of macaroni */

.sheet-cake-recipe-container ul {
    display: grid;
    grid-template-columns: 400px 400px;
}

.sheet-cake-recipe-container ul li {
    margin-right: 20px;
    list-style: square;
}

.sheet-cake-recipe-container ul li::marker {
    color: orangered;
}

.sheet-cake-recipe-container ol li {
    margin-bottom: 10px;
}

.sheet-cake-recipe-container ol li::marker {
    color: orangered;
}


.sheet-cake-recipe-container {
    line-height: 20px;
    width: 900px;
    margin: 30px 0 10px 50px;
}

.sheet-cake-recipe-container .home {
    text-decoration: none;
    background-color: orangered;
    color: white;
    padding: 10px;
    display: inline-block;
    font-weight: 600;
    border-radius: 6px;

}

.sheet-cake-recipe-container h1, img, p, ul, h3, .home {
    margin-bottom: 15px;
}

/* end of sheet cake */

.beans-recipe-container {
    line-height: 20px;
    width: 500px;
    margin: 30px 0 10px 50px;
}

.beans-recipe-container .home {
    text-decoration: none;
    background-color: orangered;
    color: white;
    padding: 10px;
    display: inline-block;
    font-weight: 600;
    border-radius: 6px;

}

.beans-recipe-container h1, img, p, ul, h3, .home {
    margin-bottom: 15px;
}

.beans-recipe-container ul li::marker {
    color: orangered;
}

.beans-recipe-container ul li {
    list-style: square;
}

.beans-recipe-container ol li {
    margin-bottom: 10px;
}

.beans-recipe-container ol li::marker {
    color: orangered;
}

