* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin: 30px;
}

.container li, a {
    list-style: none;
    text-decoration: none;
    color: orangered;
    font-size: 1.2rem;
}
.container li:hover {
    font-weight: 600;
}


.container h1 {
    margin-bottom: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    width: fit-content;
    background-color: orangered;
    color: white;
    padding: 10px;
    border-radius: 6px;
}